<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Materialize compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./script.js"></script>

    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper valign-wrapper">
            <span class="brand-logo center">Fitness Tracker</span>
            <a href="#new-workout-modal" class="btn modal-trigger" style="margin-left: 15px;">ADD WORKOUT</a>
        </div>
    </nav>
    {{{body}}}
</body>

</html>

<div id="new-workout-modal" class="modal" style="width: 50%">
    <div class="modal-content">
        <h4>New Workout Plan</h4>
        <div class="input-field">
            <input type="text" id="new-workout-name-input" placeholder="Enter the workout plan's name">
        </div>
        <div class="modal-footer">
            <button class="btn" id="submit-new-workout-btn">ADD</button>
            <button class="btn modal-close">CANCEL</button>
        </div>
    </div>
</div>