
.workout-name {
    font-weight: bold;
    font-size: 22px;
}
#all-workouts-list {
    display: flex !important;
}
#all-workouts-list>li {
    width: 30%;
}

.exercise-card {
    padding: 10px;
}

.title {
    font-weight: bold;
}

.exercise-card input:not([type]), 
.exercise-card input[type=text]:not(.browser-default), 
.exercise-card input[type=password]:not(.browser-default), 
.exercise-card input[type=email]:not(.browser-default), 
.exercise-card input[type=url]:not(.browser-default), 
.exercise-card input[type=time]:not(.browser-default), 
.exercise-card input[type=date]:not(.browser-default), 
.exercise-card input[type=datetime]:not(.browser-default), 
.exercise-card input[type=datetime-local]:not(.browser-default), 
.exercise-card input[type=tel]:not(.browser-default), 
.exercise-card input[type=number]:not(.browser-default), 
.exercise-card input[type=search]:not(.browser-default), 
.exercise-card textarea.materialize-textarea {
    font-size: 12px;
    height: 2rem
}

.delete-exercise-btn {
    font-size: 12px;
    line-height: 1rem;
    padding: 5px;
}

#all-workouts-list>li {
    margin: 5px;
    padding: 5px;
}